// Cleans up browser CSS
@import "./normalize";

// All variables are here!
@import "./variables";

// Page Imports
@import "../Pages/details";

@import "../Pages/home";

// Components
@import "../Components/header";
@import "../Components/newsListItem";
@import "../Components/spinner";

// Global Styles
.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 2rem;
}

a {
  text-decoration: none;
  color: rgb(66, 64, 64);
}
