.home {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  align-content: start;
  justify-content: center;
  margin: 2em auto;
  gap: 1rem;

  @media (max-width: 40rem) {
    display: flex;
    flex-direction: column;
  }
}
