.header {
  a {
    color: #fff;
    text-decoration: none;
  }
  width: 100%;
  .icon {
    //   TODO style svgs
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary-turqoise;
    width: 100%;
    padding: 1em 2em;
    color: white;
  }
  h1 {
    font-size: clamp(1.2rem, 1.5vw, 2.5rem);
  }
  .toggles {
    width: 10%;
    display: flex;
    // justify-content: space-between;
  }
  .toggles:first-child {
    margin-left: -3rem;
  }
}
